@use './reset.scss';//清除默认样式
@use './grobal.scss';//清除默认样式

//滚动条外观设置
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #000;
}

::-webkit-scrollbar-thumb{
    background: #fff;
}