// 定义全局scss变量
//定义项目主题颜色

//左侧的菜单的宽度
$base-menu-width:200px;

//左侧的菜单折叠时候的宽度
$base-menu-fold-width:64px;

//左侧菜单的背景颜色
$base-menu-background:#001529;

//右侧导航栏的高度
$base-tabbar-height:55px;

//左侧菜单高度的设置
$base-menu-logo-height: 50px;

//左侧菜单logo图标右侧文字大小
$base-logo-title-fontSize:16px;

//数据大屏顶部高度
$base-screen-top-height:42px;

//数据大屏底部左右边宽度
$base-screen-bottomRL-width:23%;
